@font-face{
  font-family: 'Angel Tears';
  font-style: normal;
  font-weight: 400;
  src: local('Angel Tears'), local('AngelTears'), url("/fonts/ANGEL___.otf") format("opentype");
}

body,
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

aside
{
  width: 10%;
  height: 100%;
  position:fixed;
}

header{
  text-align:center;
}
header .title{
  font-size: 8em;
  font-family: "Angel Tears";
}

main{
  width: 50%;
  margin: 0 auto;
  line-height: 1.9em;
}

main p{
  margin-top: 30px;
  
  font-size: 1.3em;
}