@font-face{
  font-family: 'Angel Tears';
  font-style: normal;
  font-weight: 400;
  src: local('Angel Tears'), local('AngelTears'), url("/fonts/ANGEL___.otf") format("opentype");
}

body,
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #555;
}

header{
  text-align:center;
}
header .title{
  font-size: 3em;
  font-family: "Angel Tears", Helvetica;
}

main{
  margin: 0 auto;
  line-height: 1.9em;
  padding: 5%;
}

main p{
  margin-top: 30px;
  
  font-size: 1.3em;
}

@media (min-width: 50em){
  header .title{
    font-size: 8em;
  }
}